<!DOCTYPE html>
<html>
  <%- include templates/head.ejs %>
  <body>
    <h1>CoAP Browser</h1>
    <h4><strong>Endpoint:</strong> <%= endpoint %></h4>
    <a class="btn btn-primary" href="/?host=<%= host %>">BACK</a>
    <br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="column col-md-4">
          <h3>Request</h3>
          <div class="well">
            <form id="requestForm">
              <input type="hidden" name="host" value="<%= host %>">
              <input type="hidden" name="endpoint" value="<%= endpoint %>">
              <div class="form-group">
                <label for="query">GET query (format: <em>var1=val1&var2=val2</em>)</label>
                <input class="form-control" type="text" placeholder="" name="query">
              </div>
              <div class="form-group">
                <label for="payload">POST payload (format: <em>var1=val1&var2=val2</em>)</label>
                <input class="form-control" type="text" placeholder="" name="payload">
              </div>
              <div class="form-group">
                <label for="method">Request type:</label>
                <select name="method">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                  <option value="DELETE">DELETE</option>
                  <option value="observe">Observe</option>
                </select>
              </div>
              <input class="btn btn-success" type="submit" value="Send">
            </form>
          </div>
        </div>

        <div class="column col-md-4">
          <h3>Response</h3>
          <div class="well" id="res">
        </div>
      </div>
    </div>
        
    </div>
  </body>
  <script type="text/javascript">
    var socket = io.connect();
    function doStdOp(data) {
        $.post("/request",data).done(function(res) {
          if(res['errno']) {
            alert(res['errno']);
            return;
          }
          $("#res").append("<div><strong>Status:</strong> "+res.status+"</div>");
          $("#res").append("<div><strong>Data:</strong> "+res.data+"</div>");
        });      
    } 


    $("#requestForm").submit(function(ev) {
      ev.preventDefault();
      $("#res").empty();
      var that = this;
      var data = {
        host: that.host.value,
        query: that.query.value,
        payload: that.payload.value,
        method: that.method.value,
        endpoint: that.endpoint.value
      }
      if(that.method.value != 'observe') {
        doStdOp(data);
      } else {
        socket.emit("observe",data);
        socket.on('obData',function(data) {
          $("#res").append("<div>"+data+"</div>");
        })
      }
      return false;

    })
  </script>
</html>
